<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yongjia.dao.AppointmentAndMemberMapper">
	<resultMap id="BaseResultMap" type="com.yongjia.model.AppointmentAndMember">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="member_id" property="memberId" jdbcType="BIGINT" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="car_type" property="carType" jdbcType="VARCHAR" />
		<result column="connect_phone" property="connectPhone" jdbcType="VARCHAR" />
		<result column="problem_desc" property="problemDesc" jdbcType="VARCHAR" />
		<result column="kilo" property="kilo" jdbcType="VARCHAR" />
		<result column="is_test_drive" property="isTestDrive" jdbcType="INTEGER" />
		<result column="appoint_time" property="appointTime" jdbcType="BIGINT" />
		<result column="arrive_time" property="arriveTime" jdbcType="BIGINT" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_at" property="createAt" jdbcType="BIGINT" />
		<result column="create_by" property="createBy" jdbcType="BIGINT" />
		<result column="update_at" property="updateAt" jdbcType="BIGINT" />
		<result column="update_by" property="updateBy" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="head_imgurl" property="headImgurl" jdbcType="VARCHAR" />
		<result column="member_status" property="memberStatus" jdbcType="INTEGER" />
	</resultMap>

	<resultMap id="ResultMapWithBLOBs" type="com.yongjia.model.AppointmentAndMember"
		extends="BaseResultMap">
		<result column="appoint_content" property="appointContent"
			jdbcType="LONGVARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		a.id, a.member_id, a.type, a.car_type, a.connect_phone, a.problem_desc, a.kilo,
		a.is_test_drive, a.appoint_time, a.arrive_time, a.status,
		a.create_at, a.create_by, a.update_at, a.update_by,
		m.name, m.mobile, m.sex, m.head_imgurl, m.status as member_status
	</sql>
	<sql id="Blob_Column_List">
		a.appoint_content
	</sql>

	<select id="selectById" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		FROM appointment as a 
		LEFT JOIN member AS m 
		ON a.member_id = m.id
		WHERE a.id = #{id, jdbcType=BIGINT}
	</select>

	<select id="selectByMemberId" resultMap="ResultMapWithBLOBs" >
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		FROM appointment as a 
		LEFT JOIN member AS m 
		ON a.member_id = m.id
		WHERE a.member_id = #{memberId, jdbcType=BIGINT}
		ORDER BY a.status ASC, a.create_at DESC
		limit #{page.pageStart}, #{page.pageSize}
	</select>

	<select id="countByMemberId" resultType="java.lang.Long" >
		select
		count(1)
		FROM appointment as a 
		LEFT JOIN member AS m 
		ON a.member_id = m.id
		WHERE a.member_id = #{memberId, jdbcType=BIGINT}
	</select>

	<select id="selectByStatus" resultMap="ResultMapWithBLOBs" >
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		FROM appointment as a 
		LEFT JOIN member AS m 
		ON a.member_id = m.id
		WHERE 1=1
		<if test="status != null">
			a.status = #{status, jdbcType=INTEGER}
		</if>
		ORDER BY a.create_at DESC
		limit #{page.pageStart}, #{page.pageSize}
	</select>

	<select id="countByStatus" resultType="java.lang.Long" >
		select
		count(1)
		FROM appointment as a 
		LEFT JOIN member AS m 
		ON a.member_id = m.id
		WHERE 1=1
		<if test="status != null">
			a.status = #{status, jdbcType=INTEGER}
		</if>
	</select>

</mapper>