<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yongjia.dao.MessageMapper">
	<resultMap id="BaseResultMap" type="com.yongjia.model.Message">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="descipition" property="descipition" jdbcType="VARCHAR" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="pic" property="pic" jdbcType="VARCHAR" />
		<result column="create_at" property="createAt" jdbcType="BIGINT" />
		<result column="create_by" property="createBy" jdbcType="BIGINT" />
		<result column="update_at" property="updateAt" jdbcType="BIGINT" />
		<result column="update_by" property="updateBy" jdbcType="BIGINT" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="push_flag" property="pushFlag" jdbcType="INTEGER" />
	</resultMap>

	<resultMap id="ResultMapWithBLOBs" type="com.yongjia.model.Message"
		extends="BaseResultMap">
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, title, descipition, author, pic, create_at, create_by,
		update_at, update_by, status, push_flag
	</sql>
	<sql id="Blob_Column_List">
		content
	</sql>

	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from message
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectAll" resultMap="ResultMapWithBLOBs" >
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from message
		order by push_flag asc,update_at desc
		limit #{page.pageStart}, #{page.pageSize}
	</select>

	<select id="countAll" resultType="java.lang.Long">
		select
		count(1)
		from message
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from message
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="com.yongjia.model.Message"
		useGeneratedKeys="true" keyProperty="id">
		insert into message (title,
		descipition, author, pic,
		 create_at,
		create_by, update_at, update_by,
		content, status, push_flag)
		values (#{title,jdbcType=VARCHAR},
		#{descipition,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR},
		 #{createAt,jdbcType=BIGINT},
		#{createBy,jdbcType=BIGINT}, #{updateAt,jdbcType=BIGINT},
		#{updateBy,jdbcType=BIGINT},
		#{content,jdbcType=LONGVARCHAR}, #{status,jdbcType=INTEGER}, #{pushFlag,jdbcType=INTEGER})
	</insert>

	<insert id="insertSelective" parameterType="com.yongjia.model.Message"
		useGeneratedKeys="true" keyProperty="id">
		insert into message
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="title != null">
				title,
			</if>
			<if test="descipition != null">
				descipition,
			</if>
			<if test="author != null">
				author,
			</if>
			<if test="pic != null">
				pic,
			</if>
			<if test="createAt != null">
				create_at,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateAt != null">
				update_at,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="pushFlag != null">
				push_flag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="descipition != null">
				#{descipition,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				#{author,jdbcType=VARCHAR},
			</if>
			<if test="pic != null">
				#{pic,jdbcType=VARCHAR},
			</if>
			<if test="createAt != null">
				#{createAt,jdbcType=BIGINT},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=BIGINT},
			</if>
			<if test="updateAt != null">
				#{updateAt,jdbcType=BIGINT},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=BIGINT},
			</if>
			<if test="content != null">
				#{content,jdbcType=LONGVARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="pushFlag != null">
				#{pushFlag,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.yongjia.model.Message">
		update message
		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="descipition != null">
				descipition = #{descipition,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				author = #{author,jdbcType=VARCHAR},
			</if>
			<if test="pic != null">
				pic = #{pic,jdbcType=VARCHAR},
			</if>
			<if test="createAt != null">
				create_at = #{createAt,jdbcType=BIGINT},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT},
			</if>
			<if test="updateAt != null">
				update_at = #{updateAt,jdbcType=BIGINT},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=BIGINT},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=LONGVARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="pushFlag != null">
				push_flag = #{pushFlag,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yongjia.model.Message">
		update message
		set
		title = #{title,jdbcType=VARCHAR},
		descipition = #{descipition,jdbcType=VARCHAR},
		author = #{author,jdbcType=VARCHAR},
		pic = #{pic,jdbcType=VARCHAR},
		create_at = #{createAt,jdbcType=BIGINT},
		create_by = #{createBy,jdbcType=BIGINT},
		update_at = #{updateAt,jdbcType=BIGINT},
		update_by = #{updateBy,jdbcType=BIGINT},
		status = #{status,jdbcType=INTEGER},
		push_flag = #{pushFlag,jdbcType=INTEGER},
		content = #{content,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.yongjia.model.Message">
		update message
		set
		title = #{title,jdbcType=VARCHAR},
		descipition = #{descipition,jdbcType=VARCHAR},
		author = #{author,jdbcType=VARCHAR},
		pic = #{pic,jdbcType=VARCHAR},
		create_at = #{createAt,jdbcType=BIGINT},
		create_by = #{createBy,jdbcType=BIGINT},
		update_at = #{updateAt,jdbcType=BIGINT},
		update_by = #{updateBy,jdbcType=BIGINT},
		status = #{status,jdbcType=INTEGER},
		push_flag = #{pushFlag,jdbcType=INTEGER}
		where id = #{id,jdbcType=BIGINT}
	</update>
	
</mapper>