<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yongjia.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.yongjia.model.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="work_no" property="workNo" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />
		<result column="role_id" property="roleId" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="TINYINT" />
		<result column="openid" property="openid" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="INTEGER" />
		<result column="create_at" property="createAt" jdbcType="INTEGER" />
		<result column="update_by" property="updateBy" jdbcType="INTEGER" />
		<result column="update_at" property="updateAt" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, mobile, work_no, account, pwd, role_id, status, openid,
		create_by, create_at, update_by, update_at
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectByOpenid" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where openid = #{openid,jdbcType=VARCHAR}
	</select>

	<select id="selectByAccount" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where account = #{account,jdbcType=VARCHAR}
	</select>

	<select id="selectByNameAndPhone" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where 1=1
		<if test="name != null">
			and name = #{name,jdbcType=VARCHAR}
		</if>
		<if test="mobile != null">
			and mobile = #{mobile,jdbcType=VARCHAR}
		</if>
		order by id desc
		limit #{page.pageStart}, #{page.pageSize}
	</select>

	<select id="countByNameAndPhone" resultType="java.lang.Long">
		select
		count(1)
		from user
		where 1=1
		<if test="name != null">
			and name = #{name,jdbcType=VARCHAR}
		</if>
		<if test="mobile != null">
			and mobile = #{mobile,jdbcType=VARCHAR}
		</if>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="com.yongjia.model.User"
		useGeneratedKeys="true" keyProperty="id">
		insert into user (name, mobile,
		work_no, account, pwd,
		role_id, status, openid,
		create_by,
		create_at,
		update_by, update_at
		)
		values
		(#{name,jdbcType=VARCHAR},
		#{mobile,jdbcType=VARCHAR},
		#{workNo,jdbcType=VARCHAR},
		#{account,jdbcType=VARCHAR},
		#{pwd,jdbcType=VARCHAR},
		#{roleId,jdbcType=BIGINT},
		#{status,jdbcType=TINYINT},
		#{openid,jdbcType=VARCHAR}, #{createBy,jdbcType=BIGINT},
		#{createAt,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT},
		#{updateAt,jdbcType=BIGINT}
		)
	</insert>

	<insert id="insertSelective" parameterType="com.yongjia.model.User"
		useGeneratedKeys="true" keyProperty="id">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="workNo != null">
				work_no,
			</if>
			<if test="account != null">
				account,
			</if>
			<if test="pwd != null">
				pwd,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="openid != null">
				openid,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createAt != null">
				create_at,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateAt != null">
				update_at,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="workNo != null">
				#{workNo,jdbcType=VARCHAR},
			</if>
			<if test="account != null">
				#{account,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				#{pwd,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="openid != null">
				#{openid,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=BIGINT},
			</if>
			<if test="createAt != null">
				#{createAt,jdbcType=BIGINT},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=BIGINT},
			</if>
			<if test="updateAt != null">
				#{updateAt,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yongjia.model.User">
		update user
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="workNo != null">
				work_no = #{workNo,jdbcType=VARCHAR},
			</if>
			<if test="account != null">
				account = #{account,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				pwd = #{pwd,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				role_id = #{roleId,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="openid != null">
				openid = #{openid,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT},
			</if>
			<if test="createAt != null">
				create_at = #{createAt,jdbcType=BIGINT},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=BIGINT},
			</if>
			<if test="updateAt != null">
				update_at = #{updateAt,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yongjia.model.User">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Tue Jul 07 
			14:25:04 CST 2015. -->
		update user
		set name = #{name,jdbcType=VARCHAR},
		mobile =
		#{mobile,jdbcType=VARCHAR},
		work_no = #{workNo,jdbcType=VARCHAR},
		account = #{account,jdbcType=VARCHAR},
		pwd = #{pwd,jdbcType=VARCHAR},
		role_id = #{roleId,jdbcType=BIGINT},
		status =
		#{status,jdbcType=TINYINT},
		openid = #{openid,jdbcType=VARCHAR},
		create_by = #{createBy,jdbcType=BIGINT},
		create_at =
		#{createAt,jdbcType=BIGINT},
		update_by =
		#{updateBy,jdbcType=BIGINT},
		update_at = #{updateAt,jdbcType=BIGINT}
		where id =
		#{id,jdbcType=BIGINT}
	</update>
</mapper>